:root {
    --onyx:             hsl(0, 0%, 25%);
    --azure:             hsl(219, 77%, 60%);
    --white:             hsl(0, 0%, 100%);
    --platinum:             hsl(0, 0%, 91%);
    --gainsbore:             hsl(0, 0%, 90%);
    --white:             hsl(0, 77%, 60%);
}