.footer {
    padding: 20px;
    background-color: black; /* Change background color to black */
    color: white; /* Change font color to white */
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;

    .container {
        margin: auto;
        max-width: 1200px;
    }
}

  